@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@400;500;600;700;800;900&family=Sono:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #4D455D;
    color: #F5E9CF;
}

section {
    min-height: 100vh;
    padding: 160px 9% 32px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 30px;
    color: #F5E9CF;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #F5E9CF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #E96479
}

#menu-icon {
    font-size: 40px;
    color: #F5E9CF;
    display: none;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.8s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.8s;
}

span {
    color: #E96479;
}

.home-content h3 span {
    color: #E96479;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    width: 800px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #E96479;
    border-radius: 50%;
    font-size: 20px;
    color: #E96479;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}

.social-media a:hover {
    background: #E96479;
    color: #4D455D;
    box-shadow: 0 0 20px #E96479;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #E96479;
    border-radius: 40px;
    box-shadow: 0 0 10px #E96479;
    font-size: 16px;
    color: #4D455D;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #413543;
}

.about-img img {
    width: 800px;
}

.heading {
    text-align: center;
    font-size: 45px;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content h3 {
    font-size: 30px;
    line-height: 1.5;
}

.about-content p {
    font-size: 18px;
    margin: 10px 0 15px;
    line-height: 1.5;
}

.skills h2 {
    margin-bottom: 80px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.skills-container .skills-box {
    flex: 1 1 480px;
    background: #413543;
    padding: 48px 32px 64px;
    border-radius: 32px;
    text-align: center;
    border: 3px solid #4D455D;
    transition: 0.5s ease;
}

.skills-container .skills-box:hover {
    border-color: #E96479;
    transform: scale(1.02);
}

.skills-box i {
    font-size: 112px;
    color: #E96479;
}

.skills-box h3 {
    font-size: 42px;
}

.skills-box p {
    font-size: 26px;
    margin: 16px 0 48px;
}

.skills-box img {
    opacity: 0;
    animation: slideTop 3s ease forwards;
    animation-delay: calc(3s * var(--i));
}

.work {
    background: #413543;
}

.work h2 {
    margin-bottom: 64px;
}

.work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
}

.work-container .work-box {
    position: relative;
    border-radius: 32px;
    box-shadow: 0 0 16px #4D455D;
    overflow: hidden;
    display: flex;
}

.work-box img {
    width: 100%;
    transition: 0.5s ease;

}
.work-box:hover img {
    transform: scale(1.1);
}

.work-box .work-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #E96479);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 48px;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.work-box:hover .work-layer {
    transform: translateY(0);
}

.work-layer h4 {
    font-size: 48px;
}

.work-layer p {
    font-size: 18px;
    margin: 5px 0 16px;
}

.work-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #F5E9CF;
    border-radius: 50%;
}

.work-layer a i {
    font-size: 32px;
    color: #413543;
}

.contact h2{
    margin-bottom: 48px;
}

.contact form {
    max-width: 1120px;
    margin: 16px auto;
    text-align: center;
    margin-bottom: 48px;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 24px;
    font-size: 18px;
    color: #F5E9CF;
    background: #413543;
    border-radius: 14px;
    margin: 12px 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 32px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 9%;
    background: #413543;
}

.footer-text p {
    font-size: 18px;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: #E96479;
    border-radius: 14px;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 16px #E96479;
}

.footer-iconTop a i {
    font-size: 38px;
    color: #413543;
}

/* KEYFRAME ANIMATIONS */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
            transform: scale(0);
            opacity: 0;
        }
    
        100% {
            transform: scale(1);
            opacity: 1;
        }
}

@keyframes floatImage {
    0% {
            transform: translateY(0);
        }

    50% {
            transform: translateY(-24px);
        }
    
    100% {
            transform: translateY(1);
        }
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 32px 3%;
    }

    section {
        padding: 160px 3% 32px;
    }

    .skills {
        padding-bottom: 112px;
    }

    .work {
        padding-bottom: 112px;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 32px 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 16px 3%;
        background-color: #4D455D;
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 32px;
        margin: 48px 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 42px;
    }

    .home-content h1 {
        font-size: 80px;
    }

    .home-img img{
        width: 70vw;
        margin-top: 64px;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 70vw;
        margin-top: 64px;
    }

    .skills h2 {
        margin-bottom: 48px;
    }

    .work h2 {
        margin-bottom: 48px;
    }

    .work-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .work-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 32px;
    }
}